# Alcohol Reviews Analysis

In this challenge, we will be finding out what is objectively the best alcohol that you can get based off multiple factors. First, we will find the 3 best of all three groups and then find the 3 overall best picks between the three groups.

## Basis of these decisions
Going to be comparing Price, Rating/Rate Count, (R/RC)/Price, Average ABV/ABV’s listed. 

Will break it down by  

Each beverage type: 

Finding Average Price 

Average Rating 

Average R/RC 

Average (R/RC)/Price 


 

Going to compare them internally, find the 3 best of each

Then going to compare against each other and find the best 3 overall.

In [39]:
# Importing the required libraries and dependencies
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import csv

In [40]:
Beer_data_df = pd.read_csv("beer_data.csv")
Spirits_data_df = pd.read_csv("spirits_data.csv")
Wine_data_df = pd.read_csv("wine_data.csv")

In [41]:
Beer_data_df.head()

,Unnamed: 0,Name,Country,Brand,Categories,Type,Tasting Notes,ABV,IBU,Calories Per Serving (12 OZ/0.35L),Carbs Per Serving (12 OZ/0.35L),Food Pairing,Suggested Serving Temperature,Rating,Rate Count,Price,Volume,Description
0,304,Mikkeller Hop On Drink’In Berliner,Denmark,Mikkeller,"ALE, Berliner Weisse, Sour Wild Ale",Craft Beer,NaN,2.80%,NaN,NaN,NaN,NaN,45-50° F,5,1,$4.44,NaN,Dry-hopped version of the regular Drink'in Ber...
1,171,Evil Twin Sour Bikini,United States,Evil Twin,"ALE, Sour Wild Ale",Craft Beer,NaN,3%,NaN,NaN,NaN,NaN,45-50° F,5,1,$11.99,NaN,"Named after atom bomb test grounds, designed b..."
2,319,Mikkeller Brand New Normal,United States,Mikkeller,"ALE, Berliner Weisse, Sour Wild Ale",Craft Beer,NaN,3.20%,NaN,NaN,NaN,NaN,45-50° F,5,1,$12.99,NaN,NaN
3,181,Evil Twin Sanguinem Aurantiaco,United States,Evil Twin,"ALE, Sour Wild Ale",Craft Beer,NaN,3.25%,NaN,NaN,NaN,NaN,45-50° F,5,1,$10.99,NaN,Sour ale with blood orange added.
4,317,Mikkeller Hallo Ich Bin Berliner Watermelon,Denmark,Mikkeller,"ALE, Berliner Weisse, Sour Wild Ale",Craft Beer,NaN,3.40%,NaN,NaN,NaN,NaN,45-50° F,5,1,$4.99,NaN,Berliner-style Weisse beer brewed with Watermelon

In [42]:
Spirits_data_df.head()

,Unnamed: 0,Name,Country,Brand,Categories,Tasting Notes,ABV,Base Ingredient,Years Aged,Rating,Rate Count,Price,Volume,Description
0,342,Gordon & MacPhail Glen Grant 1965 42 Year,United Kingdom,Gordon MacPhail,"Scotch Whisky, Whiskey",NaN,40%,NaN,42.0,5.0,1,$20.00,NaN,This Rare Vintage Glen Grant was matured in re...
1,61,Dek Crave Chocolate Chili,United States,DeKuyper Liqueur,"Chocolate, Sweet Liqueur, Liqueur",NaN,15%,NaN,NaN,5.0,1,$10.00,NaN,NaN
2,159,Smirnoff Root Beer 100 proof,United States,Smirnoff Vodka,"American Vodka, Flavored Vodka, Vodka",NaN,50%,NaN,NaN,3.3,3,$8.00,NaN,Whether you sip it on the rocks or with soda a...
3,121,Bacardi Rum Grand Melon,Puerto Rico,Bacardi Rum,"Flavored Rum, Rum",NaN,35%,NaN,NaN,5.0,1,$7.99,NaN,NaN
4,115,Bacardi Wolf Berry,Puerto Rico,Bacardi Rum,"Flavored Rum, Rum",NaN,35%,NaN,NaN,5.0,1,$15.00,NaN,BACARDÍ® WOLF BERRY gets its unique flavor fro...

In [43]:
Wine_data_df.head()

,Unnamed: 0,Name,Country,Brand,Categories,Tasting Notes,ABV,Food Pairing,Suggested Glassware,Suggested Serving Temperature,Sweet-Dry Scale,Body,Rating,Rate Count,Price,Volume,Description
0,9,Block 537 Merlot Dry Creek,France,Vineyard Block Estate,"Merlot, Red Wine",NaN,13.90%,"Duck Game Bird, Tomatoes",Bordeaux Glass,60-65° F,Dry Wine,Medium,5.0,1,$20.99,NaN,"The wine is velvety and lush, with aromas and ..."
1,10,Block 049 Merlot,France,Vineyard Block Estate,"Merlot, Red Wine",NaN,14.50%,"Duck Game Bird, Tomatoes",Bordeaux Glass,60-65° F,Dry Wine,Medium,5.0,1,$21.99,NaN,Ripe and velvety on the palate. The aromas are...
2,23,Block 115 Arroyo Grande Valley Pinot Noir,United States,Vineyard Block Estate,"Pinot Noir, Red Wine",NaN,14%,"Fish - Meaty Oily, Duck Game Bird",Burgundy Bourgogne Glass,55-60° F,NaN,Light,5.0,1,$24.99,NaN,Bright fruit aromas offer a perfumed nose of w...
3,24,Block 664 Pinot Noir Pommard,France,Vineyard Block Estate,"Pinot Noir, Red Wine",NaN,13.50%,"Fish - Meaty Oily, Duck Game Bird",Burgundy Bourgogne Glass,55-60° F,NaN,Light,5.0,1,$25.99,NaN,Block 664 shows expertise in balancing power a...
4,29,Block 012 Red Wine Oak Knoll,United States,Vineyard Block Estate,"Red Blend, Red Wine",NaN,14.50%,NaN,NaN,NaN,NaN,NaN,5.0,1,$20.99,NaN,The Block 012 is a red blend from the Oak Knol...

## Find the best of the beer
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price, 
And Average ABV

In [44]:
Beer_data_df['Price'] = Beer_data_df['Price'].str.replace('$', '').astype(float)

c:\Users\jakes\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [45]:
Beer_data_df['Price'] = Beer_data_df['Price'].astype(float)

In [46]:
# Clean the ABV column by removing the percentage sign and converting to float
Beer_data_df['ABV'] = Beer_data_df['ABV'].str.replace('%', '').astype(float)

In [47]:
#Write code to find the Average Price of the Beer
#CODE HERE
# Calculate the average price of beer
beer_avg_price = Beer_data_df["Price"].mean()
print("The average price of beer is:", beer_avg_price)

The average price of beer is: 15.12709030100325

In [48]:
#Write code to find the Average Rating of the Beer
#CODE HERE
beer_avg_rating = Beer_data_df["Rating"].mean()
print("The average rating of beer is:", beer_avg_rating)

The average rating of beer is: 5.0

In [49]:
#Write code to find the Average RC of the Beer
#CODE HERE
beer_avg_rc= Beer_data_df["Rate Count"].mean()
print("The average rate count of beer is:", beer_avg_rc)

The average rate count of beer is: 1.1070234113712374

In [50]:
#Write code to find the Average R/RC of the Beer
#CODE HERE
beer_avg_rrc = beer_avg_rating / beer_avg_rc
print("The average rating/rate count of beer is:", beer_avg_rrc)

The average rating/rate count of beer is: 4.516616314199396

In [51]:
#Write code to find the Average (R/RC)/Price of the Beer
#CODE HERE
beer_worth = beer_avg_rrc / beer_avg_price
print("The worth of the beer is:", beer_worth)

The worth of the beer is: 0.29857799645050365

In [52]:
#Write code to find the Average ABV of the Beer
#CODE HERE
beer_avg_abv = Beer_data_df["ABV"].mean()
print("The average ABV count of beer is:", beer_avg_abv)

The average ABV count of beer is: 8.022909698996658

#How to define the best chance of get a beer is based off

## Find the best of the spirits
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price,
Average ABV

In [53]:
Spirits_data_df['Price'] = Spirits_data_df['Price'].str.replace(',', '').str.replace('$', '').str.strip().astype(float)

c:\Users\jakes\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [54]:
Spirits_data_df['Price'] = Spirits_data_df['Price'].astype(float)

In [55]:
# Clean the ABV column by removing the percentage sign and converting to float
Spirits_data_df['ABV'] = Spirits_data_df['ABV'].str.replace('%', '').astype(float)

In [56]:
#Write code to find the Average Price of the Spirits
#CODE HERE
spirits_avg_price = Spirits_data_df["Price"].mean()
print("The average price of spirits is:", spirits_avg_price)

The average price of spirits is: 213.29565217391297

In [57]:
#Write code to find the Average Rating of the Spirits
#CODE HERE
spirits_avg_rating = Spirits_data_df["Rating"].mean()
print("The average rating of spirits is:", spirits_avg_rating)

The average rating of spirits is: 4.934782608695651

In [58]:
#Write code to find the Average RC of the Spirits
#CODE HERE
spirits_avg_rc= Spirits_data_df["Rate Count"].mean()
print("The average rate count of spirits is:", spirits_avg_rc)

The average rate count of spirits is: 24.862876254180602

In [59]:
#Write code to find the Average R/RC of the Spirits
#CODE HERE
spirits_avg_rrc = spirits_avg_rating / spirits_avg_rc
print("The average rating/rate count of spirits is:", spirits_avg_rrc)

The average rating/rate count of spirits is: 0.1984799569545332

In [60]:
#Write code to find the Average (R/RC)/Price of the Spirits
#CODE HERE
spirits_worth = spirits_avg_rrc / spirits_avg_price
print("The worth of the spirits is:", spirits_worth)

The worth of the spirits is: 0.0009305391597607454

In [61]:
#Write code to find the Average ABV of the Spirits
#CODE HERE
spirits_avg_abv = Spirits_data_df["ABV"].mean()
print("The average ABV count of beer is:", spirits_avg_abv)

The average ABV count of beer is: 34.15602006688962

#Which were the most liked Spirits?

## Find the best of the wine
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price, 
And Average ABV/ABV’s listed.

In [62]:
#Write code to find the Average Price of the Wine
#CODE HERE

In [63]:
#Write code to find the Average Rating of the Wine
#CODE HERE

In [64]:
#Write code to find the Average R/RC of the Wine
#CODE HERE

In [65]:
#Write code to find the Average (R/RC)/Price of the Wine
#CODE HERE

In [66]:
#Write code to find the Average ABV/ABV's of the Wine
#CODE HERE

#Which were the most liked wines?