# Alcohol Reviews Analysis

In this challenge, we will be finding out what is objectively the best alcohol that you can get based off multiple factors. First, we will find the 3 best of all three groups and then find the 3 overall best picks between the three groups.

## Basis of these decisions
Going to be comparing Price, Rating/Rate Count, (R/RC)/Price, Average ABV/ABV’s listed. 

Will break it down by  

Each beverage type: 

Finding Average Price 

Average Rating 

Average R/RC 

Average (R/RC)/Price 

And Average ABV/ABV’s listed. 

 

Going to compare them internally, find the 3 best of each

Then going to compare against each other and find the best 3 overall.

In [55]:
# Importing the required libraries and dependencies
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import csv

In [56]:
Beer_data_df = pd.read_csv("beer_data.csv")
Spirits_data_df = pd.read_csv("spirits_data.csv")
Wine_data_df = pd.read_csv("wine_data.csv")

In [57]:
Beer_data.head()

,Unnamed: 0,Name,Country,Brand,Categories,Type,Tasting Notes,ABV,IBU,Calories Per Serving (12 OZ/0.35L),Carbs Per Serving (12 OZ/0.35L),Food Pairing,Suggested Serving Temperature,Rating,Rate Count,Price,Volume,Description
0,0,Pipeworks Ninja vs. Unicorn,United States,Pipeworks Brewing Company,"ALE, Imperial Double IPA, IPA",Craft Beer,NaN,8%,NaN,NaN,NaN,NaN,50-55° F,5.0,17,$10.00,NaN,Ninja vs. Unicorn celebrates the epic battle b...
1,1,Pipeworks Lizard King,United States,Pipeworks Brewing Company,"ALE, Pale Ale",Craft Beer,NaN,6%,NaN,NaN,NaN,NaN,45-50° F,5.0,8,$11.54,NaN,This American Pale Ale is fresh as they come a...
2,2,Pipeworks Blood Of The Unicorn,United States,Pipeworks Brewing Company,"ALE, Amber Red Ale",Craft Beer,NaN,6.5%,NaN,NaN,NaN,NaN,45-50° F,5.0,1,$11.19,NaN,"In this epic battle, the Blood of the Unicorn ..."
3,3,Pipeworks Brief Relief,United States,Pipeworks Brewing Company,"ALE, Amber Red Ale",Craft Beer,NaN,9%,NaN,NaN,NaN,NaN,45-50° F,5.0,1,$10.99,NaN,What’s better than not wearing pants? Not wear...
4,4,Pipeworks Sangremancer Red Ale,United States,Pipeworks Brewing Company,"ALE, Amber Red Ale",Craft Beer,NaN,8.5%,NaN,NaN,NaN,NaN,45-50° F,5.0,1,$8.99,NaN,imperial red ale brewed with blood orange

In [58]:
Spirits_data.head()

,Unnamed: 0,Name,Country,Brand,Categories,Tasting Notes,ABV,Base Ingredient,Years Aged,Rating,Rate Count,Price,Volume,Description
0,0,Dekuyper Triple Sec Liqueur,United States,DeKuyper Liqueur,"Citrus, Triple Sec Liqueur, Liqueur",NaN,24%,NaN,NaN,5.0,187,$10.99,NaN,DeKuyper® Triple Sec Cordial brings the essenc...
1,1,DeKuyper Peachtree Schnapps Liqueur,United States,DeKuyper Liqueur,Liqueur,NaN,20%,NaN,NaN,4.8,79,$11.69,NaN,DeKuyper® Peachtree® Schnapps Liqueur brings r...
2,2,DeKuyper Sour Apple Pucker Schnapps Liqueur,United States,DeKuyper Liqueur,Liqueur,NaN,15%,NaN,NaN,5.0,47,$11.99,NaN,DeKuyper® Pucker® Sour Apple Schnapps Liqueur ...
3,3,DeKuyper Blue Curacao Liqueur,United States,DeKuyper Liqueur,Liqueur,NaN,24%,NaN,NaN,5.0,35,$11.99,NaN,"Elementary and world famous, DeKuyper® Blue Cu..."
4,4,DeKuyper Buttershots Schnapps Liqueur,United States,DeKuyper Liqueur,Liqueur,NaN,15%,NaN,NaN,4.8,35,$12.99,NaN,DeKuyper® Buttershots™ Schnapps Liqueur is car...

In [59]:
Wine_data.head()

,Unnamed: 0,Name,Country,Brand,Categories,Tasting Notes,ABV,Food Pairing,Suggested Glassware,Suggested Serving Temperature,Sweet-Dry Scale,Body,Rating,Rate Count,Price,Volume,Description
0,0,Block 779 Cabernet Sauvignon Special Reserve,United States,Vineyard Block Estate,"Cabernet Sauvignon, Red Wine",NaN,NaN,NaN,Bordeaux Glass,NaN,Dry Wine,NaN,5.0,2,$36.83,NaN,"Napa's neighborhood for world-class reds, the ..."
1,1,Block 1015 Cabernet Sauvignon Oakville,United States,Vineyard Block Estate,"Cabernet Sauvignon, Red Wine",NaN,NaN,"Beef, Duck Game Bird",Bordeaux Glass,60-65° F,Dry Wine,Full,5.0,2,$24.99,NaN,NaN
2,2,Block 425 Zinfandel,United States,Vineyard Block Estate,"Red Wine, Zinfandel",NaN,NaN,NaN,Standard Red Glass,60-65° F,NaN,Medium,5.0,1,$22.99,NaN,NaN
3,3,Block 068 Old Vine Zinfandel,United States,Vineyard Block Estate,"Red Wine, Zinfandel",NaN,NaN,NaN,Standard Red Glass,60-65° F,NaN,Medium,5.0,1,$16.99,NaN,Ripe fruit and soft tannins make this a rich v...
4,4,Block 044 Old Vine Zinfandel,United States,Vineyard Block Estate,"Red Wine, Zinfandel",NaN,NaN,NaN,Standard Red Glass,60-65° F,NaN,Medium,5.0,1,$15.99,NaN,NaN

## Find the best of the beer
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price, 
And Average ABV/ABV’s listed.

In [62]:
# Convert the Price column to numeric values, ignoring errors
Beer_data_df["Price"] = pd.to_numeric(Beer_data_df["Price"], errors="coerce")

# Replace NaN values with $0.01 in the Price column
Beer_data_df["Price"].fillna(0.01, inplace=True)

In [63]:
#Write code to find the Average Price of the Beer
#CODE HERE
# Calculate the average price of beer
beer_avg_price = Beer_data_df["Price"].mean()
print("The average price of beer is:", beer_avg_price)

The average price of beer is: 0.01000000000000164

In [64]:
#Write code to find the Average Rating of the Beer
#CODE HERE
beer_avg_rating = Beer_data_df["Rating"].mean()
print("The average rating of beer is:", beer_avg_rating)

The average rating of beer is: 4.9980377637911895

In [65]:
#Write code to find the Average RC of the Beer
#CODE HERE
beer_avg_rc= Beer_data_df["Rate Count"].mean()
print("The average rate count of beer is:", beer_avg_rc)

The average rate count of beer is: 3.2188078489448353

In [66]:
#Write code to find the Average R/RC of the Beer
#CODE HERE
beer_avg_rrc = beer_avg_rating / beer_avg_rc
print("The average rating/rate count of beer is:", beer_avg_rrc)

The average rating/rate count of beer is: 1.5527605244996552

In [ ]:
#Write code to find the Average (R/RC)/Price of the Beer
#CODE HERE

In [67]:
#Write code to find the Average ABV of the Beer
#CODE HERE
beer_avg_abv = Beer_data_df["ABV"].mean()
print("The average ABV count of beer is:", beer_avg_abv)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Write code to find the Average ABV/ABV's of the Beer
#CODE HERE

#Which were the most liked beers?

## Find the best of the spirits
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price, 
And Average ABV/ABV’s listed.

In [ ]:
#Write code to find the Average Price of the Spirits
#CODE HERE

In [ ]:
#Write code to find the Average Rating of the Spirits
#CODE HERE

In [ ]:
#Write code to find the Average R/RC of the Spirits
#CODE HERE

In [ ]:
#Write code to find the Average (R/RC)/Price of the Spirits
#CODE HERE

In [ ]:
#Write code to find the Average ABV/ABV's of the Spirits
#CODE HERE

#Which were the most liked Spirits?

## Find the best of the wine
Finding Average Price, 
Average Rating, 
Average R/RC, 
Average (R/RC)/Price, 
And Average ABV/ABV’s listed.

In [ ]:
#Write code to find the Average Price of the Wine
#CODE HERE

In [ ]:
#Write code to find the Average Rating of the Wine
#CODE HERE

In [ ]:
#Write code to find the Average R/RC of the Wine
#CODE HERE

In [ ]:
#Write code to find the Average (R/RC)/Price of the Wine
#CODE HERE

In [ ]:
#Write code to find the Average ABV/ABV's of the Wine
#CODE HERE

#Which were the most liked wines?